

nav{
  display: flex;
  gap:21px;
  background-color:black
  
}

*{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
  padding: 23px;
}

a li{
  color: black;
  color: aliceblue;
}
.red{
  background-color: red;
  color: white ;
}
